/*
    ===Math CSS===
*/

/* 
    Fonts
*/

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Shadows Into Light Two';
  font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light Two'), local('ShadowsIntoLightTwo-Regular'), url(https://fonts.gstatic.com/s/shadowsintolighttwo/v4/gDxHeefcXIo-lOuZFCn2xTO1YRoFzJJ_4isFaSLPfef3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Shadows Into Light Two';
  font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light Two'), local('ShadowsIntoLightTwo-Regular'), url(https://fonts.gstatic.com/s/shadowsintolighttwo/v4/gDxHeefcXIo-lOuZFCn2xbIfIbZrEcH2WW587lG91II.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
font-family: 'Nanum Pen Script', cursive;
src: url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');
}

.italic{ 
     font-style: italic;
}

svg{
  width: 800px;
  height: 600px;
  background-color: silver;
  font-family: 'Lato';
}
body{ 
  font-family: 'Shadows Into Light Two', sans-serif!Important;
  fill: #333333;
}

.instruction{
}
.description{
}
.question{
    font-family: 'Lato';
}
.fraction{
}
.measurement{
}
.sequence{
}
.gridnumber{
}
.equation{
}
.comment{
    font-family: 'Nanum Pen Script', cursive;
    line-height: 1.50;
}

/* 
    Alignment
*/

.left{
    align: left;
}
.right{
    align: right;
}
.center{
    align: center;
}

/* 
    Text
*/
.text_small{
    font-size: 1em; 
}
.text_medium{
    font-size: 1.4em;
}
.text_large{ 
    font-size: 1.8em;
}

/* 
    Numbers
*/
.num_small{
    font-size: 1em;    
}
.num_medium{
    font-size: 2em;    
}
.num_large{ 
    font-size: 3em;
}

/* 
    Colours
*/

.colour1{
  fill: red;    
}
.colour2{
  fill: blue;    
}
.colour3{
  fill: green;  
}
.colour4{ 
  fill: yellow;
}
.colour5{
  fill: purple;
}
.colour6{
  fill: orange;
}


